<h1>Authors</h1>

<ul class="authors">
<% @authors.each do |author| %>
	<p>
		<%= image_tag(author.image_url,  :size => "150x200")%>		
		<%= link_to(author.name, author) %>
	</p>
<% end %>
</ul>

<%= link_to("Create Author", new_author_path) %>
