<h1>All Books</h>
<ol class="books">
	<% @books.each do |book| %>
		<li>
			<%= image_tag(book.image_cover_url,  :size => "150x200")%>
			<%= link_to(book.title, book) %> by 
			<%= book.author.name %>
			</br>
		</li></br>
	<% end %>

</ol>
<%= paginate @books %>
